<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jakewharton.agileapks.viewpager"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>

    <application
            android:label="Agile APKs: ViewPager Indicator"
            android:icon="@drawable/ic_launcher">

        <activity
                android:name=".Demo"
                android:label="Agile ViewPager">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
